### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).
* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%). 
### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [87]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load, low_memory=False)

## Player Count
* Display the total number of players

In [88]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [89]:
total_players_df = pd.DataFrame({"Total Players":[purchase_data["SN"].nunique()]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)
* Run basic calculations to obtain number of unique items, average price, etc.
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [90]:
PurchaseTotals_df = pd.DataFrame({
    "Number of Unique Items":[purchase_data["Item ID"].max()],
    "Average Price": [purchase_data["Price"].mean()],
    "Number of Purchases":[purchase_data["Price"].count()],
    "Total Revenue":[purchase_data["Price"].sum()]
})

PurchaseTotals_df["Average Price"] = PurchaseTotals_df["Average Price"].map("${:.2f}".format)
PurchaseTotals_df["Total Revenue"] = PurchaseTotals_df["Total Revenue"].map("${:,.2f}".format)
     
PurchaseTotals_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [91]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [92]:
gender_pop_df = purchase_data.groupby("Gender")["SN"].nunique()
gender_pop_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [93]:
Pecentage_Players = ((((purchase_data["Gender"].value_counts())/(purchase_data["Gender"].count())))*100).map("{:.2f}%".format)
Pecentage_Players

Male                     83.59%
Female                   14.49%
Other / Non-Disclosed     1.92%
Name: Gender, dtype: object

In [94]:
Gender_demo_df = pd.DataFrame({
    "TOTAL Count" : gender_pop_df,
    "Percentage of Players" :Pecentage_Players
})
Gender_demo_df.sort_values("Percentage of Players", ascending=False)

                       TOTAL Count Percentage of Players
Male                           484                83.59%
Female                          81                14.49%
Other / Non-Disclosed           11                 1.92%


## Purchasing Analysis (Gender)
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [95]:
all_gen_df = purchase_data.groupby("Gender")["Item Name"].count()
# all_gen_df
AvgPurchasePrice = purchase_data.groupby("Gender")["Price"].mean()
# AvgPurchasePrice
Ttl_Purchase_Value = purchase_data.groupby("Gender")["Price"].sum()
# Ttl_Purchase_Value
Avg_Ttl_Purchase_Person = (Ttl_Purchase_Value) / (gender_pop_df)
# Avg_Ttl_Purchase_Person
Purchasing_Gender_df = pd.DataFrame({
    "Purchase Count" : all_gen_df,
    "Average Purchase Price" : AvgPurchasePrice,
    "Total Purchase Value" : Ttl_Purchase_Value,
    "Avg Total Purchase per Person" : Avg_Ttl_Purchase_Person
    })

Purchasing_Gender_df["Average Purchase Price"] = Purchasing_Gender_df["Average Purchase Price"].map("${:.2f}".format)
Purchasing_Gender_df["Total Purchase Value"] = Purchasing_Gender_df["Total Purchase Value"].map("${:,.2f}".format)
Purchasing_Gender_df["Avg Total Purchase per Person"] = Purchasing_Gender_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

Purchasing_Gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [96]:
# age 45 to 7
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 50]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data['Age Range'] = pd.cut(purchase_data['Age'],bins, labels=group_names)
age_groups = purchase_data.groupby('Age Range')
age_groups_df = age_groups.count()

age_demo_df = age_groups_df[['Age']]
age_demo_df = age_demo_df.rename(columns={"Age": "Total Count"})
age_demo_df

Ttl_count = purchase_data["SN"].count()
Ttl_count

age_demo_df["Percentage of Players"] = ((age_demo_df["Total Count"] /  Ttl_count)*100).map("{:,.2f}%".format)
age_demo_df = age_demo_df[["Total Count","Percentage of Players"]]
age_demo_df

           Total Count Percentage of Players
Age Range
<10                 23                 2.95%
10-14               28                 3.59%
15-19              136                17.44%
20-24              365                46.79%
25-29              101                12.95%
30-34               73                 9.36%
35-39               41                 5.26%
40+                 13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age
* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [98]:
age_demo_df["Purchase Count"] = age_groups["Purchase ID"].count()
age_demo_df["Average Purchase Price"] = age_groups["Price"].mean().map("${:,.2f}".format)
age_demo_df["Total Purchase Value"] = age_groups["Price"].sum().map("${:,.2f}".format)
age_demo_df["Avg Total Purchase per Person"] = ((age_groups["Price"].sum())/(age_groups["Purchase ID"].count())).map("${:,.2f}".format)

age_demo_df = age_demo_df[["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]
age_demo_df

C:\Users\minwi\Anaconda3\envs\RunnersRun\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\minwi\Anaconda3\envs\RunnersRun\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\minwi\Anaconda3\envs\RunnersRun\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\minwi\Anaconda3\envs\RunnersRun\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,"$1,114.06",$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below
* Create a summary data frame to hold the results
* Sort the total purchase value column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [107]:
top_spenders = purchase_data.groupby("SN")
top_names = top_spenders["Purchase ID"].count()
top_avg = top_spenders["Price"].mean()
top_ttl = top_spenders["Price"].sum()

top = pd.DataFrame({"Purchase Count" : top_names,
                    "Average Purchase Price" : top_avg,
                    "Total Purchase Value" : top_ttl    
})
top = top.sort_values(["Total Purchase Value"], ascending=False).head()
top

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns
* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
* Create a summary data frame to hold the results
* Sort the purchase count column in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the summary data frame

In [108]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price',
       'Age Range'],
      dtype='object')

In [117]:
pop = purchase_data[['Item ID', 'Item Name', 'Price']]
# popular.head()
pop_item = pop.groupby(['Item ID', 'Item Name'])
pop_item
item_purchase = pop_item["Price"].count()
# item_purchase.head()
pop_value = pop_item["Price"].sum()
# pop_value.head()

In [ ]:



Purchase Count
Item Price
Total Purchase Value

In [9]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 

# Find individual item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort in descending order to obtain top spender names and provide top 5 item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order
* Optional: give the displayed data cleaner formatting
* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80